.create-course {
  margin: 0 16px;
  padding: 0 24px 32px;
	border: 1px solid blue;

  .title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
  }

  .description-wrapper {
    .description {
      textarea {
				height: 100px;
      }
    }
  }

	.authors-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;

		.add-author {
			box-sizing: border-box;
			flex-basis: 50%;
			justify-content: center;
			min-height: 250px;

			&__title {
				text-align: center;
			}

			button {
				margin: 0 auto;
				display: block;
			}
		}

		.duration {
			flex-basis: 50%;

			&__title {
				text-align: center;
			}

			&__time {
				font-size: 24px;
			}

			&__value {
				font-size: 32px;
			}
		}

		.authors {
			flex-basis: 50%;
			min-height: 250px;

			&__title {
				text-align: center;
			}

			&__author {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 70%;
				margin: 0 auto;
			}
		}

		.course-authors {
			flex-basis: 50%;
			min-height: 250px;

			&__title {
				text-align: center;
			}

			&__author {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 70%;
				margin: 0 auto;

				&--empty {
					text-align: center;
				}
			}
		}
	}

}
