.course {
	border: 1px solid blue;
	margin: 0 16px;
	padding: 16px 24px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	&__title {
		text-align: center;
		width: 100%;
		margin-bottom: 48px;
	}
	&__left {
		flex-basis: 50%;
	}
	&__right {
		flex-basis: 40%;
	}
	&__info {
		font-weight: bold;
	}
	&__authors {
		ul {
			padding-left: 0;
			li {
				list-style-type: none;
			}
		}
	}
}