.button {
	border: 2px solid plum;
	min-width: 140px;
	height: 30px;
	background-color: white;
	font-size: 16px;
	min-height: 30px;
	cursor: pointer;
}

.login {
	width: 50px;
	margin: 0 auto;
}

.edit {
	min-width: 50px;
}