.header {
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	margin: 0 16px 24px;

  &__user-name {
    margin-left: auto;
		padding-right: 24px;
  }
}
