.login {
	width: 350px;
	margin: 200px auto;
	&__title {
		text-align: center;
	}
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 200px;
	}
	&__link {
		text-align: center;
		padding-top: 18px;
	}
}