.courseCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid green;
  margin: 16px 0;
  padding: 16px 32px;

  &__left {
    flex-basis: 60%;
  }

  &__right {
    flex-basis: 35%;
  }
	
  &__info-bold {
    font-weight: bold;
  }

	&__edit_buttons {
		display: flex;
		width: 100%;
		button {
			margin-right: 8px;
		}
	}
}

